@use 'variables' as *;

h2 {
    color: rgb(128, 79, 0);
}
h1 {
    color: $red-color;
    background-color: $background;
}

.card-course-item{
    margin-top: 16px;
}

.user-avatar{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 4px;
}

.checkbox-select-all-options{
    width: 400px;
    margin: 0 8px;
}