<nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary fixed-top" data-bs-theme="dark">
      <div class="container container-fluid">
            <a class="navbar-brand" href="/">F8 Education</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                  data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                  aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                              <a class="nav-link active" aria-current="page" href="/">Trang chủ</a>
                        </li>
                  </ul>

                  <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    <img src="https://mlpnk72yciwc.i.optimole.com/cqhiHLc.IIZS~2ef73/w:auto/h:auto/q:75/https://bleedingcool.com/wp-content/uploads/2022/11/AVATAR_THE_WAY_OF_WATER_1SHT_DIGITAL_LOAK_sRGB_V1.jpg"
                                          alt="logo" class="user-avatar">
                                    Phước Trần
                              </a>
                              <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="/courses/create">Đăng khóa học</a></li>
                                    <li>
                                          <hr class="dropdown-divider">
                                    </li>

                                    <li><a class="dropdown-item" href="/me/stored/courses">Khóa học của tôi</a></li>
                                    <li><a class="dropdown-item" href="/me/stored/news">Bài viết của tôi</a></li>

                                    <li>
                                          <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="#">Đăng xuất</a></li>
                              </ul>
                        </li>
                  </ul>
            </div>
      </div>
</nav>